  <ion-view title="Anti Intellegent Tic-Tac-Toe " hide-back-button='true' style="background: url(img/paper2.jpg) no-repeat center;background-size:cover;">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 287px; height: 29px;"></div>
        <button id="page-button2" style="font-weight:600;color:#FFB533;" class=" button button-dark button-large button-block icon-left ion-android-desktop " ng-click="redirect('#/withpc')">Play With Computer</button>
        <button id="page-button3" style="font-weight:600;color:#FFB533;" class=" button button-dark button-block button-large icon-left ion-android-contacts " ng-click="redirect('#/twoplayer')">Double Player</button>
        <button id="page-button4" style="font-weight:600;color:#FFB533;" class=" button button-dark  button-block button-large icon-left ion-android-bulb " ng-click="redirect('#/rules')">Rules</button>
    </ion-content>
</ion-view>